Source: freenav
Section: unknown
Priority: extra
Maintainer: unknown <alan@freeflight.org.uk>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: freenav
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
