Source: freenav
Section: user/other
Priority: optional
Maintainer: Alan Sparrow <alan@freeflight.org.uk>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: freenav
Architecture: all
Depends: python2.5 python2.5-hildon python2.5-gtk2
Description: A short description
 A long description
