[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=FreeNav
Exec=/usr/bin/freenav
Icon=qgn_list_cp_location
Type=Application
X-Osso-Service=uk.org.freeflight.freenav
X-Osso-Type=application/x-executable
