[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=FreeConf
Exec=/usr/bin/freeconf
Icon=qgn_list_cntlpane
Type=Application
X-Osso-Service=uk.org.freeflight.freeconf
X-Osso-Type=application/x-executable
