[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=TaskEdit
Exec=/usr/bin/taskedit
Icon=qgn_list_messagin_editor
Type=Application
X-Osso-Service=uk.org.freeflight.taskedit
X-Osso-Type=application/x-executable
